* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background-color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h2 {
    color: brown;
}

p {
    color: coral;
}